.App {
  text-align: center;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

section {
  flex-grow: 1;
}

header {
  padding: 40px 0;
}

header nav ul {
  margin:0;
  padding: 0;

  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(26, 26, 26);
  padding: 10px 20px;

  border-radius: 2rem;
  transition: .3s;
}

header nav ul li a:hover{
  color: rgb(121, 121, 121)
}

header nav ul li a.active{
  color: white;
  background: rgb(26, 26, 26);
  
}